**/__pycache__
**/*.pyc
**/.Python
**/env/
**/venv/
**/.venv
**/*.egg-info/
**/dist/
**/build/

**/node_modules/
**/.next/
**/npm-debug.log
**/.env
**/.env.local

**/.DS_Store
**/.idea/
**/.vscode/

**/*.log
.worktrees/
